*{
    margin :0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    height: 70px;
    line-height:70px;
}
 .choice{
    height: 165px;
    width: 165px;
    border-radius: 500%;
    display: flex;
    justify-content:center ;
    align-items: center;
} 
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 500%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items:center;
    gap:3rem;
    margin-top: 5rem;
    
}
.choice:hover{
    /*opacity:0.5;*/
    cursor: pointer;
    background-color: rgb(22, 29, 29);
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;

}
#suser,
#scomt{
    font-size: 4rem ;
}
.mes-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: aliceblue;
    font-size: 2rem;
    height: 3rem;
    display: inline;
    padding:1rem;
    border-radius: 1rem;
}
